html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}


.sidebar {
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    grid-column: 1;
}

.logo-bar {
    padding: 0.5em;
    display: flex;
    align-items: center;
    max-height: 50px;
}

.logo-bar > img {
    width: auto;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.header,
.main {
    padding: 1.5em;
}
.main {
    display: grid;
    gap: 100px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column: 2;
    background-color: #cbd5e1;
    row-gap: 0px;
}

.projects {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.projects-container {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.announcements-container {
    display: grid;
    gap: 10px;
    padding: 1.5em;
    max-width: 300px;
    border-radius: 5px;
    background-color: white;
}

.announcement > h4,
.announcement > p {
    margin: 0px;
}
.announcement {
    padding: 0.5em;
}
.announcement:nth-child(n + 2) {
    border-top: 1px solid lightgray;
}
.trending {
    grid-column: 2;
}

.trend:nth-child(n + 2) {
    border-top: 1px solid lightgray;
}
.trending-container {
    display: grid;
    max-width: 300px;
    gap: 10px;
    padding: 1.5em;
    background-color: white;
    border-radius: 5px;
}

.card {
    height: 200px;
    border-left: .45em solid orange;
    border-radius: 5px;
    padding-left: 0.5em;
    background-color: white;
}



.trend {
    display: flex;
}

.details>h5,
.details>h6 {
    margin: 0px;
}